<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mb-4 mb-md-0">

      <div class="col-12 col-lg-auto mb-lg-0 me-lg-3">

        <label for="job-list" class="jobs mb-2">Select Job Level</label>
        <select class="form-select" id="job-list" name="job-list">
          <option>Internship</option>
          <option>Entry Level</option>
          <option>Mid Level</option>
          <option>Senior Level</option>
        </select>
        
      </div>

    </div>
  </div>
</header>
