<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mb-4 mb-md-0">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center my-4">
        <li><a href="#" class="nav-link px-2 text-secondary"><h1>The Muse Job Search</h1></a></li>
      </ul>

      <div class="text-end">
        <a href="https://github.com/albinaAS93/TheMuse_JobSearch" class="btn btn-outline-light me-2"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>

    <div class="col-12 col-lg-auto my-5 mb-lg-0 me-lg-3">
      <label for="job-list" class="jobs mb-2">Select level</label>
      <select class="form-select" id="job-list" name="job-list">
        <option>Internship</option>
        <option>Entry Level</option>
        <option>Mid Level</option>
        <option>Senior Level</option>
      </select>
    </div>
  </div>
</header>
